# Created by https://www.toptal.com/developers/gitignore/api/react,gatsby
# Edit at https://www.toptal.com/developers/gitignore?templates=react,gatsby

### Gatsby ###
node_modules/

.cache/
public

src/gatsby-types.d.ts

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*

node_modules
bower_components

*.sublime*

psd
thumb
sketch

# End of https://www.toptal.com/developers/gitignore/api/react,gatsby